@model Account
@{
    ViewData["Title"] = "Transfer";
}

<script>
    function myFuncation(){
        var DestAccountNum=document.getElementById("DestAccountNum").value;
        var amount = document.getElementById("Amount").value;
        var displayAmount = document.getElementById("printAmount");
        displayAmount.innerHTML="Are you sure you want to transfer $"+amount+"to account "+DestAccountNum+"?";
    }

</script>


<h1 class="display-4">Account Number @Model.AccountNumber (@Model.AccountType)</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Transfer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="DestAccountNum" class="control-label">Enter a destination account: </label>
                <input id="DestAccountNum" name="DestAccountNum" class="form-control" value="@ViewBag.DestAccountNum"
                       data-val="true" data-val-number="Destination Account must be a number."
                       data-val-required="The Destination Account field is required." />
                @Html.ValidationMessage("DestAccountNum", new { @class = "text-danger" })
                <br />
                <label for="Amount" class="control-label">Enter amount:</label>
                <input id="Amount" name="Amount" class="form-control" value="@ViewBag.Amount?.ToString("0.00")"
                       data-val="true" data-val-number="The field Amount must be a number."
                       data-val-required="The Amount field is required." />
                @Html.ValidationMessage("Amount", new { @class = "text-danger" })

                <br />
                <label for="Comment" class="control-label">Comment: </label>
                <input id="Comment" name="Comment" class="form-control" value="@ViewBag.Comment"
                       data-val="true" />
                @Html.ValidationMessage("Comment", new { @class = "text-danger" })
            </div>



            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" onclick="myFuncation()" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Transfer
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Transfer confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                           <div>your current account number is @Model.AccountNumber</div>
                            <span id="printAmount"> </span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <input type="submit" value="Yes, submit" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Accounts</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }
}
